# This file was created by bl2bl2. 
# Learn more at https://github.com/tonypconway/bl2bl
Chrome >= 104
ChromeAndroid >= 104
Edge >= 104
Firefox >= 103
FirefoxAndroid >= 103
Safari >= 15
iOS >= 15
Opera >= 90
op_mob >= 71
Samsung >= 20.0
Android >= 104
and_qq >= 14.2
